{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>All Courses</title>
    <!-- custom link -->
    <link rel="stylesheet" href="{% static 'css/AllCourses.css' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/coursesList.js' %}"></script>


</head>

<body>
    <!--  All Courses section start -->
    <section class="course">
        <!-- <h2 ><span>All</span> Courses</h2> -->
        <h2 class="name-of-all-courses"> All Courses</h2>

        <div class="dropdown">
            <button onclick="toggleDropdown()" class="dropbtn">Category</button>
            <div id="categoryDropdown" class="dropdown-content">
                <div class="search-container">
                    <input type="text" id="categorySearchInput" placeholder="Search...">
                    <button onclick="searchCategory()">Search</button>
                </div>
                <a href="#">All</a>
                <a href="#">Design</a>
                <a href="#">Science</a>
                <a href="#">Programming</a>
                <a href="#">Business</a>
                <a href="#">Languages</a>
                <a href="#">Personal Development</a>
                <a href="#">Art</a>
            </div>
        </div>



        <div class="course-section"  id="course-section">
            <!-- Add more courses as needed... -->
        </div>
        
    </section>
    <!-- All Courses section end -->

    <script>
        function toggleDropdown() {
            document.getElementById("categoryDropdown").classList.toggle("show");
        }

        function searchCategory() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("categorySearchInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("categoryDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }

    </script>
</body>

</html>
{% endblock %}